/********************************************************************************************
*********************************************************************************************
                                        SELECTEURS
*********************************************************************************************
*********************************************************************************************/

body {
  margin:0;
}

a {
  text-decoration:none;
}

ul {
  list-style-type:none;
}

/*********************************************************************************************
*********************************************************************************************/


/********************************************************************************************
*********************************************************************************************
                                        HAUT DE PAGE \ MENU NAV
*********************************************************************************************
*********************************************************************************************/

/*LIENS HAUT ET BAS DE PAGE*/
footer a, header a {
color:white;
}

/*CADRE COULEUR MENU*/
header {
  background-image:linear-gradient(#696969,black);
  height: 9.2em;
  position:fixed;
  width:100%;
  top:0;
  box-shadow: 3px 5px 40px white;
}

/*IMAGE SIMPLON*/
#simplonpng {
  margin-top:5px;
  width: 300px;
  height: 90px;
}

/*STRUCTURES LIENS MENU*/
nav ul li {
  display:inline;
  margin: 15px;
}

/*POSITION MENU*/
nav {
  text-align: center;
}

/*SURVOL LIENS MENU*/
nav ul li a:hover {
text-decoration: underline;
font-size: 25px;
}

/*CLICK MOMENT LIENS MENU*/
nav ul li a {
font-size: 17px;
color:white;
}

/*BARRE DE SÉPARATION MENU*/
#barremenu {
  color: white;
  font-size: 15px;
}

/********************************************************************************************
*********************************************************************************************
                                    ARRIÈRE PLAN CONTENUS
*********************************************************************************************
*********************************************************************************************/

#section1 {
  background-image:url(/css/fond.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
	overflow:auto;
	right:0px;
	left:0px;
	bottom:0px;
	top:3em;
}

/*********************************************************************************************
*********************************************************************************************/


/********************************************************************************************
*********************************************************************************************
                                    CONTENU DROIT
*********************************************************************************************
*********************************************************************************************/
#div1 {
  background-color: #EBEBEB;
  height: 2100px;
  width: 74%;
  border: solid black 0.1em;
  margin-top: 187px;
  float: right;
  margin-right: 2%;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 12px -11px 25px black;
}


/*IMAGE CERVEAU*/
.imgdroit {
  width: 800px;
  height: 450px;
  border: 1px solid black;
  box-shadow: -11px -11px 30px grey;
}


#candidature {

  background-color: #CB9B9B;
  text-align: justify;
  height: 690px;
  padding-top: 40px;
  left:0;
  right:0;
  margin-top: 40px;
  font-family: sans-serif;
  border-top: 1px solid black;
  box-shadow: -6px -6px 23px black;
}

#h3candidature {
  width: 800px;
}



.artdroit {
  text-align: justify;
  width: 340px;
  font-family: sans-serif;

}

#art1 {
  float: left;
  margin: 3%;
}

#art2 {
  float: right;
  margin: 3%;
}

#barre1droit {
  margin-top: 170px;
}

#sectioncandidature {
  background-color: #CBB3B3;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding-bottom: 150px;
  box-shadow: -3px -3px 10px black;
}

#cestquoi {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-image:linear-gradient(#B5B5B5, white, #B5B5B5, white);
  height: 1113px;
  box-shadow: -6px -6px 23px black;
}

#cestquoi h3, h2 {
  font-family: sans-serif;
  color: black;
}



.artdroit2 {
  text-align: justify;
  width: 358px;
  font-family: sans-serif;
}

#art3 {
  float:left;
  margin: 3%;
}

#art4 {
  float:right;
  margin: 3%;
}

/*********************************************************************************************
*********************************************************************************************/



/********************************************************************************************
*********************************************************************************************
                                    CONTENU GAUCHE
*********************************************************************************************
*********************************************************************************************/

#div2 {
  background-color:#EBEBEB;
  height: 2100px;
  width: 21%;
  border: solid black 1px;
  margin-top: 187px;
  float: left;
  margin-left: 2%;
  border-radius: 0px 0px 0px 0px;
  box-shadow: -12px -11px 25px black;
}

/*IMAGE BALISE*/
.imggauche {
  border:black 1px solid;
  box-shadow: 2px 2px 5px black;
  width: 250px;
  height: 250px;
}

.imggauche2 {
  width: 250px;
  height: 250px;
}

/*MENU CONTENU GAUCHE*/
#div2 ul li a {
  color:black;
  font-size: 20px
}

#div2 ul li {
  margin:20px;
}

/*********************************************************************************************
*********************************************************************************************/


/********************************************************************************************
*********************************************************************************************
                                    PIED DE PAGE
*********************************************************************************************
*********************************************************************************************/

#twitter {
  margin-top: 5%;
}

.imgfooter {
  border-top: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  position: absolute;
  width: 160px;
  height: 65px;
}

footer {
  background-color: black;
  bottom: 0;
  padding-top: 2em;
  padding-bottom: 3em;
  width: 100%;
  height: 120px;
}

/*LISTE BAS DE PAGE*/
footer ul li {
  display:inline;
  margin: 60px;
  font-size: 12px;
}

/*SURVOL LIENS BAS DE PAGE*/
footer ul li a:hover {
  text-decoration: underline;
}


/*********************************************************************************************
*********************************************************************************************/







/***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
****************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************

                                                ACTUALITÉS

***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************/











/********************************************************************************************
*********************************************************************************************
                                    CONTENU DROIT
*********************************************************************************************
*********************************************************************************************/


#div1actu {
  background-color: #EBEBEB;
  height: 3800px;
  width: 74%;
  border: solid black 0.1em;
  margin-top: 187px;
  float: right;
  margin-right: 2%;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 12px -11px 25px black;
}

#pagenews {
  background-image:linear-gradient(#B5B5B5, white, #B5B5B5, white);
  text-align: justify;
  height: 990px;
  padding-top: 40px;
  left:0;
  right:0;
  margin-top: 40px;
  font-family: sans-serif;
  border-top: 1px solid black;
  box-shadow: -6px -6px 23px black;
}


#imagenews {
  box-shadow: -11px -11px 30px black;
  width: 850px;
  height: 400px;
}

.photoactu {
  width: 790px;
  height: 425px;
  border: 1px solid black;
  box-shadow: -11px -11px 30px black;
}


#art1actu1 {
  float: left;
  width: 400px;
  margin-left: 3%;
}

#art2actu1 {
  float: right;
  width: 400px;
  margin-right: 3%;
}

.imgdroitactu {
  width: 800px;
  height: 450px;
  border: 1px solid black;
  box-shadow: -7px -7px 40px black;
}

#pagenews2 {
  background-image:linear-gradient(#B5B5B5, white, #B5B5B5, white);
  text-align: justify;
  height: 730px;
  padding-top: 40px;
  left:0;
  right:0;
  margin-top: 40px;
  font-family: sans-serif;
  border-top: 1px solid black;
  box-shadow: -6px -6px 23px black;
}

#art3actu1 {
  text-align: justify;
  width: 800px;
}


#pagenews3 {
  background-image:linear-gradient(#B5B5B5, white, #B5B5B5, white);
  text-align: justify;
  height: 1060px;
  padding-top: 40px;
  left:0;
  right:0;
  margin-top: 40px;
  font-family: sans-serif;
  border-top: 1px solid black;
  box-shadow: -6px -6px 23px black;
}


#pray {
  width: 760px;
  height: 760px;
}

/*********************************************************************************************
*********************************************************************************************/



/********************************************************************************************
*********************************************************************************************
                                    CONTENU GAUCHE
*********************************************************************************************
*********************************************************************************************/

#div2actu {
  background-color:#EBEBEB;
  height: 3800px;
  width: 21%;
  border: solid black 1px;
  margin-top: 187px;
  float: left;
  margin-left: 2%;
  border-radius: 0px 0px 0px 0px;
  box-shadow: -12px -11px 25px black;
}

/*MENU CONTENU GAUCHE*/
#div2actu ul li a {
  color:black;
  font-size: 20px
}

#div2actu ul li {
  margin:20px;
}











/***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
****************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************

                                                CONTACT

***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************/








/***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************
                                            FORMULAIRE DE CONTACT
***************************************************************************************************************
***************************************************************************************************************
***************************************************************************************************************/


#commentaire {
  width: 500px;
  height: 150px;
}


#field1contact {
  background-image: linear-gradient(white,#DCDCDC,#DCDCDC,#DCDCDC );
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 30px;
  padding-bottom: 40px;
  border-radius: 7px;
  font-weight: bold;
}

.formu {
  background-color: #D5DFE9;
  border-radius: 3px;
  border: 1px solid grey;
  box-shadow: inset 1px 1px 1px black;
}

.formu:focus {
  box-shadow: 2px 2px 10px black;
}

#pseudo {
  height: 20px;
}

#pass {
  height: 20px;
}

.boutons {
  background-image:linear-gradient(#969292, #D6D6D6, #D6D6D6, #D6D6D6);
  box-shadow: 1px 1px 3px black;
  border: 1px solid #767A7E;
  border-radius: 3px;
  padding: 6px 20px 6px 20px;

  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
}

.boutons:hover {
  background-image:linear-gradient(#D6D6D6, #D6D6D6, grey);
	cursor: pointer;
  color:black;
  box-shadow: 5px 5px 10px black;

}

.boutons:focus {
  background-image:linear-gradient(#D6D6D6, grey);
	cursor: pointer;
  color:black;
  box-shadow: 5px 5px 10px black;

}


.boutons:active {
  padding: 3px 15px 3px 15px;
}
